  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Download and start contributing !</h2>
              <a href="https://gitlab.com/chic-nrp/ChicNRP" class="btn btn-default btn-xl wow tada">Download Now!</a>
          </div>
      </div>
  </aside>
