<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About us</h2>
                <hr class="light">
                <p> Contributors :</p>
             </div>  

            <div  class="col-lg-8 col-lg-offset-4">
                <p class="text-align:left;">
<ul>
    <li> <a href="https://lipn.univ-paris13.fr/~fouilhoux/">Pierre Fouilhoux</a> (Full Professor, LIPN, Université Sorbonne Paris Nord) </li>
    <li> Kevin Nartz (Master's student, Sorbonne Université)</li>
    <li> Ariane Ravier (Master's student, Sorbonne Université)</li>
    <li> Diane Redel (Research Midwife, CHIC, Créteil) </li>
    <li> <a href="https://lip6.fr/cedric.herpson">Cédric Herpson</a><em>*</em> (Associate Professor, LIP6,Sorbonne Université)</li>
</ul>

                </p>
               <!-- <a href="https://gitlab.com/chic-nrp/ChicNRP" class="btn btn-default btn-xl">Fork Me!</a> -->
            </div>
    <div class="col-lg-4"/>
        </div>
    </div>
</section>
