<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2>CHIC's Nurse Rostering Problem</h2>
            <hr>
            <p>The Nurse Rostering Problem (NRP) is a combinatorial problem whose challenge is to find an optimal allocation of agents in a hospital service over a given period (horizon). We present here the first steps of a <a href="https://www.lip6.fr">Sorbonne University</a>’s research project to create planning for the maternity ward of the <i><a href="https://www.chicreteil.fr/">Centre Hospitalier Intercommunal de Créteil (CHIC),France</a></i>, involving 70 midwives.
            </p>
            <p style="text-align:left;">
                <ul>
                    <li>Our first objective is to generate partial solutions of sufficient quality to allow planning managers to save time.</li>
                    <li>We stand on real and anonymized data sets.</li>
                    <li>Both source-code and datasets are open-sourced in order to facilitate comparisons and collaborations with the aim of improving the state of the art.</li>
                </ul>
            </p>
            <hr>
            <p>
                Our current alpha-version allow CHIC's users to save ~20% of the time needed to produce a planning, which represents an economy of more than one daywork.
                </p>
            <!--<a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
        </div>
    </div>
</header>
