<section class="bg-dark" id="start">
    <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Getting Started </h2>
                <hr class="light">
                <p> Exemple of install process with Eclipse </p>
             </div>  

    <div class="container">
<ol>
    <li> Download the last release of <a href="https://www.eclipse.org/downloads/packages/release/2020-06/r/eclipse-ide-cc-developers">Eclipse C++</a>  </li>
    <li >Import the project within Eclipse : File > Import > Select "Project from git" > Next > Select Clone url > Next > past the url <a href="https://gitlab.com/chic-nrp/ChicNRP.git">https://gitlab.com/chic-nrp/ChicNRP.git</a> > Next > Next > Next > Select "import as general project" > Next > Finish.</li>
    <li>Configure the project : </li>
    <ol>
        <li> Right Clic on the project > new > Convert to a C/C++ Project > Finish.</li>
        <li> Right clic on the project > Properties > C/C++ Build > Tool chain editor; Disable ”Display compatible only”  and Select your compilator (We use g++) > apply and close.</li>
     </ol>   
<li> Build and Run</li>
</ol>
</div>
</section>