<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include start.html %} 
  {% include call-to-action.html %}
 <!-- {% include services.html %} -->
 <!-- {% include portfolio.html %} -->
 <!-- {% include aside.html %} -->
 <!-- {% include contact.html %} -->
  {% include scripts.html %}
</body>

</html>